.card.horizontal .card-image {
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.media-checker {
    position: absolute;
    top: 5px;
    right: 0;
}

.chip.small {
    height: 18px;
    line-height: 14px;
    border: 1px solid #899094;
    color: #303d44;
    text-transform: uppercase;
    background: transparent;
    padding: 2px 10px;
    font-size: 8px;
}

.select-wrapper {
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0 0 3px lightgrey;
    padding: 0 0 0 5px;
}

.select-dropdown {
    border-bottom: none !important;
    margin: 0 !important;
}

.select-dropdown > li > span {
    color: black;
    padding: 10px 12px;
}

#writeModal {
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 100%;
    background: white;
}

#writeModal textarea {
    width: calc(100% - 28px);
    border: none;
    box-shadow: none;
}

#writeModal > .row {
    height: 100%;
}

#writeModal > .row > .col {
    height: calc(100% - 40px);
}

#writeModal > .row > i:first-child {
    position: absolute;
    top: 10px;
    right: 10px;
}

#writeModal .actions {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
}

#comments .circle {
    padding: 10px 13px;
    font-size: 2rem;
    color: white;
}

#comments {
    border: 1px solid white;
}

#comments li {
    min-height: auto;
    border: none;
}

#logo {
    max-height: 30px;
    width: auto;
    line-height: 0px;
    position: RELATIVE;
    bottom: -3px;
}

.row {
    margin-bottom: 0px;
}

.grey-ddc {
    color: #666666;
}

.material-icons.ultra-tiny {
    position: relative;
    top: 1px;
    font-size: 10px;
}

.article-title-ap {
    color: #303d44;
    font-size: 16px;
    font-weight: 500;
}

.article {
    padding: .5rem;
    font-family: "PlayfairDisplay-Bold", "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
}

.article img {
    max-height: 220px;
}

.article > h4, .article > h3 {
    color: #303030;
    font-weight: bold;
}

.article p {
    font-size: 16px;
}

p {
    margin: .75rem 0;
}

/* BAREBONES CSS */

/* GLOBAL */

.bottom-space {
    margin-bottom: 80px;
}

.M {
    color: #5c6bc0;
}

.F {
    color: #ec407a;
}

.middle-center {
    padding: 150px 40px 0px 40px;
}

/* TAGS */

.chip .icon {
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding-right: 5px;
}

.chip.tiny {
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    font-size: x-small;
}

.chip.tiny .icon {
    line-height: 20px;
}

/* TAGS CLOUD */

.cloud {
    text-align: center;
}

.cloud .chip {
    height: 25px;
    line-height: 25px;
}

.cloud .chip.tag1 {
    font-size: 10px;
    color: #212121;
    background-color: #fafafa;
}

.cloud .chip.tag2 {
    font-size: 10px;
    color: #616161;
    background-color: #f5f5f5;
}

.cloud .chip.tag3 {
    font-size: 12px;
    color: #757575;
    background-color: #eeeeee;
}

.cloud .chip.tag4 {
    font-size: 12px;
    color: #9e9e9e;
    background-color: #e0e0e0;
}

.cloud .chip.tag5 {
    font-size: 14px;
    color: #424242;
    background-color: #bdbdbd;
}

.cloud .chip.tag6 {
    font-size: 14px;
    color: #212121;
    background-color: #9e9e9e;
}

.cloud .chip.tag7 {
    font-size: 16px;
    color: #fafafa;
    background-color: #757575;
}

.cloud .chip.tag8 {
    font-size: 16px;
    color: #eeeeee;
    background-color: #616161;
}

.cloud .chip.tag9 {
    font-size: 18px;
    color: #f5f5f5;
    background-color: #424242;
}

.cloud .chip.tag10 {
    font-size: 18px;
    color: #fafafa;
    background-color: #212121;
}

/* CARDS */

.card .card-person {
    padding: 10px 16px;
}

.card .card-person .person-avatar {
    margin: -5px 10px 0px 0px;
}

/* USER CARDS */

.card.user-card .person-avatar {
    margin: 5px auto;
}

.card.user-card .content {
    padding: 5px;
}

.card.user-card .action {
    padding: 5px 0px;
}

.card.user-card .action .material-icons {
    position: relative;
    top: 3px;
    font-size: 1.5rem;
    margin: 0px 5px;
}

.card.user-card .action a {
    color: inherit;
}

/* PROFILE COLLECTION */

.collection.profile .avatar {
    min-height: 63px;
}

.collection.profile .secondary-content i {
    font-size: 30px;
    line-height: 1.1;
}

.collection.profile .second {
    right: 60px !important;
}

/* ONE LINE COLLECTION */

.collection.one-line .avatar {
    min-height: 0px;
}

/* NUMBERS LIST */

.collection.number-list .collection-item {
    padding-left: 50px;
}

.collection.number-list .number {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    top: 15px !important;
    left: 10px !important;
    font-style: normal;
}

/* SEARCH FIELD */

.search-field > i {
    position: absolute;
    width: 3rem;
    right: -8px;
    top: 7px;
    font-size: 2rem;
    transition: color .2s;
    color: #57b23b;
}

.search-field > i ~ input {
    width: calc(100% - 2.5rem) !important;
}

.input-field label {

}

.search-field label, .search-field input {
    font-size: 18px;
    padding-left: 10px !important;
    margin: 0 !important;
}

.search-field label:not(.active) {
    top: -4px !important;
}

/* ADD BORDER TO A FIELD */

.outline {
    border: 1px solid #57b23b;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: none;
    margin: 0.75rem !important;
    width: calc(100% - 1.5rem);
}

.outline:focus {
    outline: 0 !important;
    box-shadow: 0 0 2px .1rem rgb(89, 176, 60) !important;
}

.outline input, .outline input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.outline > label:not(.label-icon).active {
    transform: translateY(-10px) scale(0.8);
    padding: 0 8px;
    background: white;
}

/* NEWS */

.pic-note {
    margin-top: 0px;
    font-size: 0.8em;
    color: grey;
}

.related-title {
    margin-top: 0px;
}

/* CHAT */

ul.chat {
    position: relative;
}

ul.chat li {
    display: inline-block;
    clear: both;
    width: 80%;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 3px;
}

.chat .left {
    color: #757575;
    background: #eee;
    margin-left: 15px;
    float: none;
}

.chat .left .person-avatar {
    position: relative;
    top: 25px;
    left: -35px;
    margin-top: -30px;
    float: left;
}

.chat .right {
    color: #fff;
    background: #66bb6a;
    margin-right: 15px;
    float: right;
}

.chat .right .person-avatar {
    position: relative;
    top: 25px;
    right: -35px;
    margin-top: -30px;
    float: right;
}

.chat .date {
    margin-left: 5px;
    font-size: x-small;
}

/* MESSAGES */

.message {
    padding: 5px 10px;
    border-radius: 3px;
}

.message.danger {
    color: #e53935;
    background-color: #ffcdd2;
}

.message.notice {
    color: #1565c0;
    background-color: #bbdefb;
}

.message.success {
    color: #1b5e20;
    background-color: #c8e6c9;
}

.message i {
    position: relative;
    bottom: -5px;
    float: left;
}

.message p {
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* HOME SCREEN */

.home img {
    margin: 30% 0px 20px 0px;;
    height: 150px;
}

.home .tags, .menu {
    margin-top: 50px;
}

#home-menu {
    padding-top: 20px;
}
