/* MEDIUM */

.media-checker span {
	padding-left: 20px !important;
}

/* CARDS */

.card .card-person {
	padding: 10px 16px;
}

.card .card-person .person-avatar {
	margin: -5px 10px 0px 0px;
}

.card .image {
	width: 80px;
	margin: 0px 15px 40px 0px;
}

/* USER CARDS */

.card.user-card .content {
	padding: 0px 5px;
}

/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}

.chip.tiny .icon {
	line-height: 20px;
}

.chip.medium {
	height: 20px;
	line-height: 1.5;
}

.chip.clear {
	color: rgba(0, 0, 0, 0.87);
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

/* MESSAGES */

.message {
	padding: 5px 10px;
	border-radius: 3px;
}

.message.danger {
	color: #e53935;
	background-color: #ffcdd2;
}

.message.notice {
	color: #1565c0;
	background-color: #bbdefb;
}

.message.success {
	color: #1b5e20;
	background-color: #c8e6c9;
}

.message i {
	position: relative;
	bottom: -5px;
	float: left;
}

.message p {
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.middle-center {
	padding: 150px 40px 0px 40px;
}

/* ONE LINE COLLECTION */

.collection.one-line .avatar {
	min-height: 0px;
}

/* MODAL */

.modal.fullscreen {
	max-height: 100% !important;
}

/* FLOAT BUTTON */

.bottom-space {
	margin-bottom: 80px;
}

.btn-floating.second {
	margin-right: -10px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

.btn-floating.third {
	bottom: 45px;
	left: 87px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

/* CHAT */

ul.chat {
	position: relative;
}

ul.chat li {
	display: inline-block;
	clear: both;
	width: 80%;
	padding: 10px 20px;
	border-radius: 20px;
	margin-bottom: 3px;
}

.chat .left {
	color: #757575;
	background: #eee;
	margin-left: 15px;
	float: none;
}

.chat .left .person-avatar {
	position: relative;
	top: 25px;
	left: -35px;
	margin-top: -30px;
	float: left;
}

.chat .right {
	color: #fff;
	background: #66bb6a;
	margin-right: 15px;
	float: right;
}

.chat .right .person-avatar {
	position: relative;
	top: 25px;
	right: -35px;
	margin-top: -30px;
	float: right;
}

.chat .date {
	margin-left: 5px;
	font-size: x-small;
}

/* ARTICLE IMAGE */

.article-image {
	width: 100%;
	height: 40vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* GENDER COLORS */

.M {
	color: #5c6bc0 !important;
}

.F {
	color: #ec407a !important;
}

/* Comments actions */
.chat .actions {
	margin-bottom: -5px;
}

.chat .actions .chip {
	margin-right: 30px;
}

.chat .left .actions .chip {
	color: #546e7a;
}

.chat .right .actions .chip {
	color: #eceff1;
}