<%
var menu = [
    {link: '', caption: 'Titulares'},
    {link: 'comentarios', caption: 'Comentarios'},
    {link: 'medios', caption: 'Medios'}
];
%>

<!-- HEADER -->
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <% menu.forEach(function(e) { %>
                <% var active = typeof title != "undefined" && title == e.caption ? 'active' : '' %>
                <% var disabled = e.caption != 'Medios' && typeof preferredMedia != "undefined" && preferredMedia.length == 0 %>
                <li class="tab <%= disabled ? 'disabled' : '' %>">
                    <a href="#" class="<%= active %>"
                    <% if(!disabled){ %>
                       onclick="apretaste.send({'command':'noticias <%= e.link %>'})"
                            <% } %>
                    >
                        <%= e.caption %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</div>

<div class="row">
    {{APP_TEMPLATE_CODE}}
</div>
