<div class="row">
	<div class="col s12">
		<h1>Buscar</h1>

		<div class="input-field">
			<input id="title" type="text">
			<label for="title">Titular</label>
		</div>

		<div class="input-field">
			<select id="type">
				<option value="all" selected>Todos</option>
				<% Object.keys(mediaTypes).forEach(function(key){ %>
					<option value="<%= key %>"><%= mediaTypes[key] %></option>
				<% }) %>
			</select>
			<label for="type">Categoría</label>
		</div>

		<div class="input-field">
			<select id="media">
				<option value="all" selected>Todos</option>
				<% availableMedia.forEach(function(media){ %>
					<option value="<%= media.id %>"><%= media.caption %></option>
				<% }) %>
			</select>
			<label for="media">Medio de Prensa</label>
		</div>

		<div class="input-field">
			<input id="minComments" type="number">
			<label for="minComments">Número de comentarios mínimos</label>
		</div>

		<div class="input-field">
			<input id="maxDate" type="date" class="datepicker">
			<label for="maxDate">Publicado antes de</label>
		</div>

		<div class="input-field">
			<input id="minDate" type="date" class="datepicker">
			<label for="minDate">Publicado después de</label>
		</div>
	</div>
</div>

<!-- BUTTONS -->

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<a class="btn-floating grey second" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
	<a class="btn-floating btn-large green" href="#!" onclick="searchArticles()">
		<i class="material-icons">send</i>
	</a>
</div>
