<div class="row">
	<div class="col s12 center">
		<h1>Artículo no encontrado</h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>
		<p>No pudimos encontrar este artículo. Vamos a revisar que pasó, mientras puede leer los titulares.</p>
		<a class="waves-effect waves-light btn green" href="#!" onclick="apretaste.send({'command':'NOTICIAS'})">Titulares</a>
	</div>
</div>
